.menu-bar {
    margin: 0px;
    padding: 0px;
    background: #002d13;
    /*background: #1abc9c;*/
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    justify-content: flex-end;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar ul li:hover {
    /*background: #00ffaa;*/
    background: #ffc700;
    border-radius: 2px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.menu-bar .fa {
    margin-right: 8px;
}

.sign_up {
    margin: auto;
}

.logo img {
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}