    #h-11 {
        font-weight: 900;
        font-size: 45px;
        line-height: 36px;
        margin-bottom: 10px;
        margin-top: 25px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: cursive;
        text-align: center;
        color: rgb(0, 46, 19);
    }
    
    .h_11 {
        background: rgb(255, 199, 0);
    }
    
    #h-22 {
        font-weight: 900;
        font-family: cursive;
        font-size: 35px;
        line-height: 36px;
        margin-bottom: 15px;
        margin-top: 25px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    
    #h-33 {
        font-weight: 900;
        font-family: cursive;
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #h-44 {
        font-weight: 900;
        font-family: cursive;
        font-size: 23px;
        line-height: 36px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #p-11 {
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 15px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: cursive;
    }
    
    #ul-1 {
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: cursive;
    }
    
    #img_exercise {
        margin-left: 300px;
        margin-top: 20px;
    }
    
    .text-after-heading {
        background: #002d13;
        color: #ffc700;
    }
    
    .text_box_1 {
        background: #ffc700;
        color: #002d13;
    }
    
    .text_box_2 {
        background: #002d13;
        color: #ffc700;
    }
    
    .text_box_3 {
        background: #ffc700;
        color: #002d13;
    }
    
    .text_box_4 {
        background: #002d13;
        color: #ffc700;
    }
    
    .text_box_5 {
        background: #ffc700;
        color: #002d13;
    }
    
    .text_box_6 {
        background: #002d13;
        color: #ffc700;
    }
    
    .text_box_7 {
        background: #ffc700;
        color: #002d13;
    }
    
    .text_box_8 {
        background: #002d13;
        color: #ffc700;
    }
    
    .text_box_9 {
        background: #ffc700;
        color: #002d13;
    }
    
    .text_box_10 {
        background: #002d13;
        color: #ffc700;
    }
    
    .text-before-footer {
        background: #ffc700;
        color: #002d13;
    }